*:focus {
  outline: none;
}

.container {
  padding: 50px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  word-wrap: break-word;
  color: rgba(0,0,0,.87);
  padding: 10px 20px;
  /* ICI POUR CHANGER LARGEUR  */
  width: 640px;
  /* ICI POUR CHANGER LARGEUR  */
  border-radius: 30px;
  box-shadow: 1px 1px 6px 2px #ddd;
}

.text {
  padding-top: 2px;
  max-width: 85%;
}

.icons {
  border-left: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.icon {
  margin: 0 5px;
  max-height: 24px;
  width: auto;
}

.copyContainer {
  /* position relative nécessaire pour que la position absolute de l'icone de copie fonctionne */
  position: relative; 
  border: 1px dashed rgba(0,0,0,.6);;
  margin-top: 50px;
  width: 50%;
}

.screenshot {
  width: 800px;
  height: auto;
}

.copy-svg {
  position: absolute;
  top: 20px;
  right: 20px;
}
